In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 

ans: 
    Value: 'hello'
        6

    Expression: *,-,+,/,
                -87.8

In [ ]:
2. What is the difference between string and variable?

ans: Variable can store a datatype like int,float,string. Whereas String itself a datatype.
    var='Arghya'
    
    here var is the variable name, and 'Arghya' is a string.
    type(var) will give what type of data variable var stors.

In [ ]:
3. Describe three different data types.

ans: 1.int type datatype: a= 0, b= 100, c= -10
    2. float type datatype: a=0.01, b=3.89, c= -134.02

In [ ]:
4. What is an expression made up of? What do all expressions do?

ans: Expression made up with operators and operand and it express a mathametical form or equation
    eg. a= 10
        b= 4
        c= a+a/2-b
        
        a,b,c are operands.
        +,/,- are operator.
        c= a+a/2-b is a expression.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

ans: Expression always returns a value, like functions return value even non returning functions return some value.
Whereas Ststements cant return values.Cannot print any result
Examples Of Python Statements: Assignment statements, conditional branching, loops, classes, import, def, try, except, pass, del etc.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

ans:
    Output: 22.

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

ans:
    output: 'spamspamspam'
        'spamspamspam'

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

In [ ]:
Why is eggs a valid variable name while 100 is invalid?

ans: A variable name can not be start with a number thats why 100 can't be a variable name.
    A variable name must start with a letter or the underscore character.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?

ans: int() , float() , and str( ) functions will work.

In [22]:
a= 10
b= 888.56
var= 'my name is arghya'
var1= '100.90'

print(str(b))
print(float(var1))
print(int(b))
print(str(a))
type(str(a))

888.56
100.9
888
10

str

In [17]:
int(var1)

ValueError: invalid literal for int() with base 10: '100.90'

In [ ]:
Dont know why I cant convert string to int here.

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
ans: We need to convert the int type datatype to string thereafter we can concatinate it with othe 2 strings.
    str() function will do work.

In [23]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'